@model IEnumerable<RATP.Models.Line>

@{
    ViewData["Title"] = "Lines";
}

<h2>Lines</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Directions)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Directions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
        </tr>
}
    </tbody>
</table>
